<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&display=swap" rel="stylesheet">
    {% if title %}
        <title>Pitch Fit | {{ title }}</title>
    {% else %}
        <title>Pitch Fit</title>
    {% endif %}
</head>
<body class="dashboardbody">
    <div class="top">
        <div class="logo-and-title">
            <img src="{{ url_for('static', filename='styles/images/icons8-p-64.png') }}" class="logo">

            <p>PitchFit</p>
        </div>
        <div class="tabs">
            <a> Hi, {{ user.name }}</a>
            <a href="signout">Sign-Out</a>
        </div>
    </div>
    <div class="contentbox">
        <h1>Goals: {{ user.goals }}</h1>
        {% if 'Weight Loss' in user.goals %}
            <p>Calories to take in for weight loss: {{ user.tdee - 500 }} calories/day</p>
        {% endif %}
        <p>Current Weight(Kg): {{ user.weight }}</p>
        <p>Basal Metabolic Rate (BMR): {{ user.bmr }} calories/day</p>
        <p>Daily Energy Expenditure (TDEE): {{ user.tdee }} calories/day</p>
        <input type="hidden">
        <a href="{{ url_for('addfood') }}" class="buttombuttons">Add Food</a>
        <a href="{{ url_for('workout') }}" class="buttombuttons">Log Workout</a>
    </div>
    <div class="contentbox">
        <h1>total calories taken today is: {{ total_calories.morning_meal + total_calories.afternoon_meal + total_calories.dinner_meal }} out of {{ user.tdee - 500 }}</h1>
    </div>
    <div class="contentbox">
        <h1> {{ user.name }} Daily Statistics</h1>
        <h2>Morning Meal</h2>
    
        <b>Total Calories: {{ total_calories.morning_meal }}</b>
        {% for meal in user.morning_meal %}
        <div class="contentboxsmall">
            <p>Meal name: {{ meal.food[0].Description }}</p>
            <p>Time logged: {{ meal.time }}</p>
        </div>
        {% endfor %} 
       
    </div>
    <div class="contentbox">
        <h2>Afternoon Meal</h2>
        <b>Total Calories: {{ total_calories.afternoon_meal }}</b>
        {% for meal in user.afternoon_meal %}
            <div class="contentboxsmall">
                <p>Meal name: {{ meal.food[0].Description }}</p>
                <p>Time logged: {{ meal.time }}</p>
            </div>   
        {% endfor %}
    </div>
    <div class="contentbox">
        <h2>Dinner Meal</h2>
        <b>Total Calories: {{ total_calories.dinner_meal }}</b>
        {% for meal in user.dinner_meal %}
            <div class="contentboxsmall">
                <p>Meal name: {{ meal.food[0].Description }}</p>
                <p>Time logged: {{ meal.time }}</p> 
            </div>
        {% endfor %}
    </div>
</body>
</html>
