<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/auth.css') }}">
    {% if title %}
        <title>Pitch Fit | {{ title }}</title>
    {% else %}
        <title>Pitch Fit</title>
    {% endif %}
</head>
<body>
    <div class="split left"></div>
    <div class="split right">
        <div class="sign-container">
            <h2>Sign-In</h2>
            <form action="{{ url_for('signin') }}" method="post">
                <label for="username">Username</label>
                <input type="text" id="username" name="username" required>
        
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
                
                <button type="submit">Sign In</button>
            </form>
            <a href="{{ url_for('signup') }}">Dont have an Account ? Click to Sign up</a>
        </div>
    </div>
</body>
</html>
